* {
    box-sizing: border-box;
}

body {
    margin: 0; border: 0;
    font-family:"Lato", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    background-color: ivory; color: #4169E1;
}

.info_container {
    width:100vw; height: 100vh;
    display: block;
}

.homepage {
    display: flex; 
}

.headers {
    color: orange;  
}

.header_homepg {
    background-color: #4169E1; 
    color: ivory; 
    text-align: center;
    padding-bottom: 10px; padding-top: 10px;
}

.about_me {
    width: 45vw;
    padding: 15px; margin: 10px; 
    border-style: solid; border-color: #0096FF; border-width: 5px; border-radius: 10px; 
    float: left; 
}

.interests {
    width: 50vw;
    padding: 15px; margin: 10px; 
    border-style: solid; border-color: #0096FF; border-width: 5px; border-radius: 10px; 
    float: left; 
}

footer { 
    background-color: #4169E1; 
    color: ivory; 
    text-align: center;
    padding-bottom: 10px; padding-top: 10px;
    width: 100vw;
}