* {
    box-sizing: border-box;
}

.homepage {
    height: 100vh; width: 100vw;
}

body {
    margin: 0; border: 0;
    font-family:"Lato", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    background-color: ivory; color: orange;
}

._er {
    background-color: whitesmoke; color: #4169E1;
    padding: 10px;
}

.info_container {
    margin-left: 50px; margin-right: 50px;
    display: flex;
}

.titles {
    color: orange;
}

.block {
    float: left; 
    width: 50vw; 
}

ul {
    list-style-position: inside;
    text-align: left;
}

li {
    padding-left: 10%;
}

img {
    height: 200px; width: auto; 
    margin: 25px;
}

.images {
    margin: 10px;
}